@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
    background-image: url(img/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700vh;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    width: 125px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-image: url(img/bggg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
ul {
    position: relative;
    flex-direction: column;
    gap: 50px;
    z-index: 1; 
}



ul li {
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

ul li::before {
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr),
    0 0 0 20px var(--bg),
    0 0 0 22px var(--bg);
    transition: 0.5s;
}

ul li:hover::before {
    inset: 15px;
}

ul li::after {
    content: '';
    position: absolute;
    inset: 2;
    background: var(--bg);
    transform: rotate(45deg);
    transition: 0.5s;
}

ul li:hover::after {
    inset: 0px;
    transform: rotate(0deg);
}

ul li a {
    position: relative;
    text-decoration: none;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li a i {
    font-size: 2.5em;
    color: var(--clr);
    transition: 0.5s;
}

ul li:hover a i {
    color: var(--clr);
    transform: translateY(-40%);
}

ul li a span {
    position: absolute;
    color: var(--clr);
    transition: 0.5s;
    transform: scale(0) translateY(200%);
}

ul li:hover a span {
    transform: scale(1) translateY(100%);
}

ul li:hover a i,
ul li:hover a span {
    filter: drop-shadow(0 0 20px var(--clr));
    filter: drop-shadow(0 0 40px var(--clr));
    filter: drop-shadow(0 0 60px var(--clr));
}
ul li.active  {
    background-color: #000000;
    width: 125px;
    filter: drop-shadow(0 0 5px var(--clr));
    filter: drop-shadow(0 0 5px var(--clr));
    filter: drop-shadow(0 0 5px var(--clr));
}
ul li.active a i,
ul li.active a span {
    color: rgb(167, 165, 165);
}

ul li:hover {
    background-color: black;
    width: 125px;
    padding-top: 20px;
    border-radius: 5px;
    filter: drop-shadow(0 0 5px var(--clr));
    filter: drop-shadow(0 0 5px var(--clr));
    filter: drop-shadow(0 0 5px var(--clr));
}

.img-bg img{
    margin-left: 600px;
    margin-top: 50px;
    width: 690px;
}

.container-me {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -1000px;
    margin-right: 600px; 
}

.info-side {
    text-align: start;
    color: #757575; 
}

.info-side h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 2px 0;
    letter-spacing: 1px;
   
}


.info-side h2 {
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 700;
    animation: slideright 0.5s ease forwards;
    opacity: 0;
    animation-delay: 1.2s;
}

.info-side h3 span {
    color: #757575;
  
}


@keyframes slideright {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#about .container .title h2{
    text-align: start;
    margin-left: 250px;
    padding-top: 150px;
    font-size: 27px;
    font-weight: 700;
    position: relative;
    color: #fff;
    padding-bottom:10px;
}
#about .container .title h2::before{
    content: '';
    height: 5px;
    width: 100px;
    background-color:#fac000;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 5px;
}
#about .container .title h2::after{
    content: '';
    height: 5px;
    width: 50px;
    background-color:#fac000;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    border-radius: 5px;
}

#About{
    padding-top: 300px;
}

#About .container .prg p{
    color: #757575;
    width: 75%;
    margin-left:250px ;
    padding-top: 40px;
    line-height: 30px;
    font-weight: bold;
}
#about .container .social{
    padding-top: 170px;
    margin-left: 250px;
    color: #757575;
}
#about .container .social  span{
   display: flex;
   font-size: 20px;
   padding-bottom: 20px;
}
#about .container .social i{
    margin-right: 15px;
    padding-bottom: 10px;
    color: #fac000;
}
#about .container .social  span small{
    margin-left: 10px;
    margin-top: 3px;
    color: #fac000;
}

.button {
    margin-left: 250px;
    margin-top: 40px;
    --width: 115px;
    --height: 30px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #eea915;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #111;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #363535;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #363535;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background: #eea915;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
  
#Services .container .title h2{
    text-align: start;
    margin-left: 250px;
    padding-top: 150px;
    font-size: 27px;
    font-weight: 700;
    position: relative;
    color: #fff;
    padding-bottom:10px;
}
#Services .container .title h2::before{
    content: '';
    height: 5px;
    width: 100px;
    background-color:#249cff;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 5px;
}
#Services .container .title h2::after{
    content: '';
    height: 5px;
    width: 50px;
    background-color:#249cff;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    border-radius: 5px;
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
.card {
    width: 300px;
    height: 200px; 
    padding: 25px;
    background-color: #222222; 
    border-right: 8px solid #249cff; 
    margin-top: 130px;
    margin-left: 50px;
    text-align: center;
    color: whitesmoke;
    border-radius: 5px;
}

h2 {
    color: whitesmoke; 
}

.line {
    height: 3px;
    background-color: #249cff; 
    margin: 10px 0;
}
.prg2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-left:500px;
    color: whitesmoke; 
    width: 37%;
    line-height: 25px;
    font-size: 17px;
    font-weight:400;
    border-left: 8px solid #249cff;
    border-radius: 5px;
    padding-left: 15px;
}

  
#portfolio .container .title h2{
    text-align: start;
    margin-left: 250px;
    padding-top: 150px;
    font-size: 27px;
    font-weight: 700;
    position: relative;
    color: #fff;
    padding-bottom:10px;
    
}
#portfolio .container .title h2::before{
    content: '';
    height: 5px;
    width: 100px;
    background-color:#ff009d;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 5px;
}
#portfolio .container .title h2::after{
    content: '';
    height: 5px;
    width: 50px;
    background-color:#ff009d;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    border-radius: 5px;
}


.portfolio {
    width: 100%;
}

.project {
    position: relative;
    margin-top: 150px;
    margin-left: 230px;
    display: inline-block;
    border: #ff009d 2px solid;
    box-shadow:#ff009d 0 0 25px ;
    border-radius: 7px;
}

.project img {
    width: 350px;
    height: 250px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 20px;
    transition: 1s;
}
.project:hover img{
    transform: scale(1.1);
    height: 200px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 19px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    transition: opacity 0.3s;
}

.overlay a {
    color: #ff009d;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    margin-left: 60px;
}

.project:hover .overlay{
    opacity: 1;
}

  
#Contact .container .title h2{
    text-align: start;
    margin-left: 250px;
    padding-top: 150px;
    font-size: 27px;
    font-weight: 700;
    position: relative;
    color: #fff;
    padding-bottom:10px;
    
}
#Contact .container .title h2::before{
    content: '';
    height: 5px;
    width: 100px;
    background-color:#03921b;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 5px;
}
#Contact .container .title h2::after{
    content: '';
    height: 5px;
    width: 50px;
    background-color:#03921b;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    border-radius: 5px;
}

.form-container {
    background-color: #000000;
    padding: 20px;
    width: 70%;
    margin-left: 250px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #757575;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #1f1f1f;
    background-color: #1f1f1f;
    color: #e7e7e7;
    border-radius: 5px;
    border:2px solid #03921b;
    box-shadow: 0 0 5px #03921b;
}

input[type="submit"] {
    background-color: #000000;
    color: #757575;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #03921b;
    color: #000000;   
}

.error-message {
    color: #000000;
    margin-top: -10px;
    margin-bottom: 10px;
}





.card2 {
    width: fit-content;
    height: fit-content;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 570px;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    transition-duration: .3s;
  }

  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }

  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
 
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
 
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  footer{
    text-align: center;
    margin-left: 100px;
    color: #757575;
  }
  footer:hover{
     color: #03921b;
  }
  


  
  